html,body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
nav{
    background-color:rgb(253, 27, 27);
    height: 300px;
    padding: 20px;  
}
.nav-center{
    background-color: black; 
    padding:20px;
    flex-direction: column;
    display: flex;
}
#hotel{
    background-color: aqua;
    
}
#nav{
    background-color: bisque;
}
#media{
    background-color: blueviolet;
}

